
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<p>
    通过自定义名为NewShow的路由规则来访问该页面。
    当输入url为http://ip:port/2015-45这种格式时即可访问当该页面。
</p>
<p>路由中参数year为 @ViewBag.Year</p>
<p>路由中参数name为 @ViewBag.Name</p>
